@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/poppins-v15-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block; }
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/poppins-v15-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* SCSS HEX */
/* SCSS Gradient */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: medium none;
  background: none repeat scroll 0 0 transparent;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  text-align: left;
  text-decoration: none;
  text-indent: 0; }

code {
  font-family: monospace; }

body {
  font-size: 1rem;
  letter-spacing: 0.4px; }

.hidden {
  display: none; }

*:focus {
  outline: none; }

div {
  display: block; }

.flex {
  display: flex; }

.grid {
  display: grid; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px; }
  @media (min-width: 768px) {
    .container {
      width: 750px;
      padding: 20px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1260px) {
    .container {
      width: 1200px; } }

input::placeholder,
textarea::placeholder {
  color: #90908a; }

h1 {
  font-size: 2.5rem;
  border-bottom: 2px solid #5695a6;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  color: #3c707fff; }

h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  color: #4a93a7; }
  h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 60px);
    height: 2px;
    background-color: #73a8b7ff; }

h3 {
  font-size: 1.75rem;
  margin-top: 1rem;
  color: #60a5b7; }

a {
  color: #60a5b7; }

p {
  color: #c2c2be;
  line-height: 1.6;
  font-size: 1.25rem; }

pre {
  background-color: #939999ff;
  padding: 1rem;
  border-radius: 5px; }

#hero-section {
  grid-area: hero; }

#about-section {
  grid-area: about; }

#portfolio-section {
  grid-area: portfolio; }

#coding-section {
  grid-area: coding; }

#scs-section {
  grid-area: scs; }

#contact-section {
  grid-area: contact; }

#footer-section {
  grid-area: footer; }

body {
  background-color: #282826; }

section {
  display: none;
  display: block;
  scroll-margin-top: 1000vh !important;
  width: 100vw; }

#nav-section,
#hero-section,
#footer-section,
#portfolio-section,
#contact-section {
  display: block; }

#about-section:target,
#coding-section:target,
#scs-section:target {
  display: block; }

#about-section:target ~ #portfolio-section,
#about-section:target ~ #contact-section,
#coding-section:target ~ #portfolio-section,
#coding-section:target ~ #contact-section,
#scs-section:target ~ #portfolio-section,
#scs-section:target ~ #contact-section {
  display: none; }

#portfolio-section:target,
#contact-section:target,
#portfolio-section:target ~ #contact-section,
#contact-section:target ~ #portfolio-section {
  display: block; }

#portfolio-section:target ~ #about-section,
#portfolio-section:target ~ #coding-section,
#portfolio-section:target ~ #scs-section,
#contact-section:target ~ #about-section,
#contact-section:target ~ #coding-section,
#contact-section:target ~ #scs-section {
  display: none; }

body.blur section:not(#nav-section) {
  filter: blur(5px); }

section {
  transition: filter 0.3s ease; }

#nav-section {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  border-left: 2px solid #1f3d45;
  background-color: #282826;
  width: 250px; }
  #nav-section .social-row {
    border-top: 2px solid #1f3d45;
    border-bottom: 2px solid #1f3d45; }
  @media (max-height: 550px) {
    #nav-section {
      height: auto;
      width: 100%;
      border-left: none;
      border-bottom: 2px solid #1f3d45;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px; }
      #nav-section h1:first-of-type {
        font-size: 2rem;
        padding: 30px !important;
        margin-bottom: 10px;
        text-align: center;
        border-bottom: none; }
      #nav-section .nav-row {
        display: flex;
        justify-content: center;
        margin-bottom: 10px; }
        #nav-section .nav-row p {
          margin: 0 10px; }
          #nav-section .nav-row p:last-of-type {
            border: none; }
      #nav-section .social-row {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none; }
        #nav-section .social-row p {
          margin: 0 10px; }
          #nav-section .social-row p:last-of-type {
            border: none; }
        #nav-section .social-row #social-media {
          margin-top: 0; } }
  #nav-section h1:first-of-type {
    font-size: 3rem;
    color: #73a8b7ff;
    border-bottom: 2px solid #1f3d45;
    padding: 50px 0;
    text-align: center; }
    #nav-section h1:first-of-type a {
      font-size: 3rem; }
  #nav-section p {
    text-align: center;
    color: #67a9ba;
    padding: 10px 0; }
    #nav-section p a {
      font-size: 1.3rem; }
      #nav-section p a:hover {
        border-bottom: 3px solid #548e9eff; }

#nav-ham-menu {
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 1000; }

.off-screen-menu {
  top: 0;
  right: -100%;
  transition: 0.3s ease; }
  @media (max-height: 550px) {
    .off-screen-menu {
      top: -100%;
      right: 0; } }

.off-screen-menu.active {
  right: 0 !important;
  top: 0 !important; }

.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  z-index: 1001; }
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #478b9dff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease; }
    .ham-menu span:nth-child(1) {
      top: 25%; }
    .ham-menu span:nth-child(3) {
      top: 75%; }
  .ham-menu.active span {
    background-color: #548e9eff; }
    .ham-menu.active span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg); }
    .ham-menu.active span:nth-child(2) {
      opacity: 0; }
    .ham-menu.active span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }

#social-media {
  margin-top: 30px;
  text-align: center; }

.icon__nav--facebook {
  font-family: "icomoon" !important;
  padding: 12px 10px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--facebook:before {
    content: "";
    color: #60a5b7;
    display: inline-block; }
  .icon__nav--facebook:hover:before {
    color: #607ec0; }
.icon__nav--instagram {
  font-family: "icomoon" !important;
  padding: 12px 10px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--instagram:before {
    content: "";
    color: #60a5b7;
    display: inline-block; }
  .icon__nav--instagram:hover:before {
    color: #05a8fe; }
.icon__nav--twitter {
  font-family: "icomoon" !important;
  padding: 12px 10px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--twitter:before {
    content: "";
    color: #60a5b7;
    display: inline-block; }
  .icon__nav--twitter:hover:before {
    color: #3bc9ff; }
.icon__nav--linkedin {
  font-family: "icomoon" !important;
  padding: 12px 10px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--linkedin:before {
    content: "";
    color: #60a5b7;
    display: inline-block; }
  .icon__nav--linkedin:hover:before {
    color: #e572a0; }

#hero {
  position: relative; }
  #hero img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.8; }
    @media (min-width: 1px) and (max-width: 767px) {
      #hero img {
        object-position: 60% 50%; } }
  #hero > div:first-child {
    position: relative; }
  #hero > div:last-child {
    position: absolute;
    top: 13%;
    left: 8%; }
  #hero h1 {
    text-transform: uppercase;
    color: #a6cdd7;
    font-size: 3vw; }
    @media (min-width: 1px) and (max-width: 767px) {
      #hero h1 {
        font-size: 2.4rem; } }
    @media (min-width: 768px) {
      #hero h1 {
        font-size: 3rem; } }
    @media (min-width: 992px) {
      #hero h1 {
        font-size: 5rem; } }
    @media (min-width: 1260px) {
      #hero h1 {
        font-size: 5rem; } }
  #hero p {
    text-transform: uppercase; }
    @media (min-width: 1px) and (max-width: 767px) {
      #hero p {
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      #hero p {
        font-size: 2rem; } }
    @media (min-width: 992px) {
      #hero p {
        font-size: 3rem; } }
    @media (min-width: 1260px) {
      #hero p {
        font-size: 3rem; } }
  #hero .typing-text {
    display: inline-block;
    overflow: hidden;
    border-right: 0.1rem solid;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: blink-caret 0.75s step-end infinite; }
  #hero #typing-text-1 {
    color: #bbd9e0; }
  #hero #typing-text-2 {
    color: #b1d3dc; }
  #hero #typing-text-3 {
    color: #a6cdd7; }
@keyframes blink-caret {
  from,
    to {
    border-color: transparent; }
  50% {
    border-color: #a9a9a4; } }
.portfolio-grid {
  display: grid;
  gap: 20px;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(3, 1fr); } }

.project img {
  max-width: 100%; }

.coding-snippet {
  display: flex;
  justify-content: center; }
  .coding-snippet pre {
    border: 1px solid #000;
    margin-top: 10px;
    white-space: pre-line; }
    .coding-snippet pre code {
      font-size: small; }
  @media (min-width: 768px) {
    .coding-snippet pre {
      white-space: pre; }
      .coding-snippet pre code {
        font-size: normal; } }
  @media (min-width: 992px) {
    .coding-snippet pre code {
      font-size: large; } }

#contact-section {
  padding: 20px; }

.contact-info {
  grid-area: info;
  display: table; }

.contact-form {
  display: contents; }
  .contact-form input:nth-of-type(1) {
    grid-area: form-fname; }
  .contact-form input:nth-of-type(2) {
    grid-area: form-lname; }
  .contact-form input:nth-of-type(3) {
    grid-area: form-email; }
  .contact-form input:nth-of-type(4) {
    grid-area: form-subject; }
  .contact-form textarea {
    grid-area: form-message;
    height: 200px; }
  .contact-form button {
    grid-area: form-submit; }
  .contact-form__text-box {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px; }
    .contact-form__text-box:focus::placeholder {
      color: transparent; }
  .contact-form__button {
    background-color: #418092ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    display: inline-block; }
    .contact-form__button:hover {
      background-color: #548e9eff; }

@media (min-width: 1px) and (max-width: 767px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px; } }
@media (min-width: 768px) {
  .contact-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "info form-fname form-lname" "info form-email form-email" "info form-subject form-subject" "info form-message form-message" "info form-submit ."; } }

footer {
  padding: 20px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
