@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/poppins-v15-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block; }
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/poppins-v15-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: medium none;
  background: none repeat scroll 0 0 transparent;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  text-align: left;
  text-decoration: none;
  text-indent: 0; }

body {
  font-size: 1rem;
  letter-spacing: 0.4px; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }

.hidden {
  display: none; }

*:focus {
  outline: none; }

div {
  display: block; }

.flex {
  display: flex; }

.grid {
  display: grid; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1260px) {
    .container {
      width: 1200px; } }

nav {
  grid-area: nav; }

#hero {
  grid-area: hero; }

#about {
  grid-area: about; }

#portfolio {
  grid-area: portfolio; }

#coding {
  grid-area: coding; }

#scs {
  grid-area: scs; }

#contact {
  grid-area: contact; }

footer {
  grid-area: footer; }

body {
  display: grid;
  grid-template-areas: "nav hero hero" "nav about about" "nav portfolio portfolio" "nav coding coding" "nav scs scs" "nav contact contact" "nav footer footer"; }

nav {
  border-right: 3px solid #5ba1b3; }
  nav p {
    text-align: center;
    font-size: 1.5rem;
    color: #5ba1b3;
    padding: 10px 0; }
    nav p:first-of-type {
      font-size: 3rem;
      color: red;
      border-bottom: 3px solid #5ba1b3;
      padding-bottom: 50px; }
    nav p:last-of-type {
      border-top: 3px solid #5ba1b3;
      border-bottom: 3px solid #5ba1b3; }
    nav p a:hover {
      border-bottom: 2px solid #5ba1b3; }

#social-media {
  margin-top: 50px; }

.icon__nav--facebook {
  font-family: "icomoon" !important;
  margin: 0 7px 0 0;
  padding: 12px 22px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--facebook:before {
    content: "";
    color: #668e9d;
    display: inline-block; }
  .icon__nav--facebook:hover:before {
    color: #3c5998; }
.icon__nav--instagram {
  font-family: "icomoon" !important;
  margin: 0 7px 0 0;
  padding: 12px 22px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--instagram:before {
    content: "";
    color: #668e9d;
    display: inline-block; }
  .icon__nav--instagram:hover:before {
    color: #0177b5; }
.icon__nav--twitter {
  font-family: "icomoon" !important;
  margin: 0 7px 0 0;
  padding: 12px 22px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--twitter:before {
    content: "";
    color: #668e9d;
    display: inline-block; }
  .icon__nav--twitter:hover:before {
    color: #00aced; }
.icon__nav--linkedin {
  font-family: "icomoon" !important;
  margin: 0 7px 0 0;
  padding: 12px 22px 16px;
  font-size: 26px;
  line-height: 26px; }
  .icon__nav--linkedin:before {
    content: "";
    color: #668e9d;
    display: inline-block; }
  .icon__nav--linkedin:hover:before {
    color: #d93175; }

#about {
  padding: 20px; }

#hero {
  position: relative; }
  #hero img {
    width: 100%; }
  #hero div:first-child {
    position: relative; }
  #hero div:last-child {
    position: absolute;
    top: 20%;
    left: 20%; }

#portfolio {
  padding: 20px; }

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px; }

.project img {
  max-width: 100%; }

#coding {
  padding: 20px; }
  #coding pre {
    border: 1px solid #000; }

#scs {
  padding: 20px; }

.contact-info {
  grid-area: info;
  display: table; }

.contact-form {
  display: contents; }
  .contact-form input:nth-of-type(1) {
    grid-area: form-fname; }
  .contact-form input:nth-of-type(2) {
    grid-area: form-lname; }
  .contact-form input:nth-of-type(3) {
    grid-area: form-email; }
  .contact-form input:nth-of-type(4) {
    grid-area: form-subject; }
  .contact-form textarea {
    grid-area: form-message; }
  .contact-form button {
    grid-area: form-submit; }

.contact-container {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "info form-fname form-lname" "info form-email form-email" "info form-subject form-subject" "info form-message form-message" "info form-submit ."; }

footer {
  padding: 20px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
