// Variables

// Breakpoints

$brkpoint-xsm: 1px;
$brkpoint-sm: 767px;
$brkpoint-md: 992px;
$brkpoint-lg: 1260px;

// Button Colors

$colors: (
  //
  // Header Top
  //
  header-top-button-phone-ring-icon: #12141a,
  header-top-button-support-hover-off: #4184d7,
  header-top-button-support-hover-on: #296ec6,
  header-top-button-contact-hover-off: #999aa3,
  header-top-button-contact-hover-on: #84858f,
  header-top-button-search-hover-off: #999aa3,
  header-top-button-search-hover-on: #7f808a,
  header-top-button-nav-hover-off: #343645,
  header-top-button-nav-hover-on: #21242e,
  //
  // Nav Bar & Nav Item's Icons
  //
  nav-bar-background: #343645,
  bespoke-software-icon: #67809f,
  it-support-icon: #4183d7,
  digital-marketing-icon: #2ecc71,
  telecoms-services-icon: #d64542,
  web-design-icon: #9270b1,
  cyber-security-icon: #f6255a,
  developer-course-icon: #cf4126,
  //
  // Nav Items Hover
  //
  bespoke-software-hover: #67809f,
  it-support-hover: #4183d7,
  digital-marketing-hover: #2ecc71,
  telecoms-services-hover: #d64541,
  web-design-hover: #926fb1,
  cyber-security-hover: #f62459,
  developer-course-hover: #ce4126,
  //
  // Submenu
  //
  bespoke-software-submenu: #516781,
  it-support-submenu: #286abd,
  digital-marketing-submenu: #25a25a,
  telecoms-services-submenu: #bc2c28,
  web-design-submenu: #79539a,
  cyber-security-submenu: #de0a3f,
  developer-course-submenu: #a3321e,
  //
  // Services Avatar Background, &:hover Icon & Button Text
  //
  bespoke-software-avatar-hoverIcon-hoverButtonText: #67809f,
  it-support-avatar-hoverIcon-hoverButtonText: #4184d7,
  digital-marketing-avatar-hoverIcon-hoverButtonText: #2fcc71,
  telecoms-services-avatar-hoverIcon-hoverButtonText: #d64542,
  web-design-avatar-hoverIcon-hoverButtonText: #9270b1,
  cyber-security-avatar-hoverIcon-hoverButtonText: #f6255a,
  developer-training-avatar-hoverIcon-hoverButtonText: #cf4126,
  //
  // Services Button
  //
  bespoke-software-services-button: #f7b322,
  it-support-services-button: #4184d7,
  digital-marketing-services-button: #2fcc71,
  telecoms-services-services-button: #d64542,
  web-design-services-button: #9270b1,
  cyber-security-services-button: #f6255a,
  developer-training-services-button: #cf4126,
  //
  // Random coolors pallete
  //
  cadet-gray: #939999ff,
  paynes-gray: #3c707fff,
  air-force-blue: #729199ff,
  moonstone: #73a8b7ff,
  moonstone-2: #619fb1ff,
  paynes-gray-2: #5a7479ff,
  blue-munsell: #418092ff,
  blue-munsell-2: #548e9eff,
  jet: #282826ff,
  blue-munsell-3: #478b9dff
);

/* SCSS HEX */

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-right: linear-gradient(90deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-bottom: linear-gradient(180deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-left: linear-gradient(270deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-top-right: linear-gradient(45deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-bottom-right: linear-gradient(135deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-top-left: linear-gradient(225deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-bottom-left: linear-gradient(315deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
$gradient-radial: radial-gradient(#939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);

// Lightened gradients
$gradient-top-lighten: linear-gradient(
  0deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-right-lighten: linear-gradient(
  90deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-bottom-lighten: linear-gradient(
  180deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-left-lighten: linear-gradient(
  270deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-top-right-lighten: linear-gradient(
  45deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-bottom-right-lighten: linear-gradient(
  135deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-top-left-lighten: linear-gradient(
  225deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-bottom-left-lighten: linear-gradient(
  315deg,
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);
$gradient-radial-lighten: radial-gradient(
  lighten(#939999ff, 10%),
  lighten(#3c707fff, 10%),
  lighten(#729199ff, 10%),
  lighten(#73a8b7ff, 10%),
  lighten(#619fb1ff, 10%),
  lighten(#5a7479ff, 10%),
  lighten(#418092ff, 10%),
  lighten(#548e9eff, 10%),
  lighten(#478b9dff, 10%)
);

// Darkened gradients
$gradient-top-darken: linear-gradient(
  0deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 10%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-right-darken: linear-gradient(
  90deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-bottom-darken: linear-gradient(
  180deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-left-darken: linear-gradient(
  270deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-top-right-darken: linear-gradient(
  45deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-bottom-right-darken: linear-gradient(
  135deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-top-left-darken: linear-gradient(
  225deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-bottom-left-darken: linear-gradient(
  315deg,
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
$gradient-radial-darken: radial-gradient(
  darken(#939999ff, 10%),
  darken(#3c707fff, 10%),
  darken(#729199ff, 20%),
  darken(#73a8b7ff, 30%),
  darken(#619fb1ff, 15%),
  darken(#5a7479ff, 10%),
  darken(#418092ff, 10%),
  darken(#548e9eff, 10%),
  darken(#478b9dff, 10%)
);
