// cadet-gray: #939999ff,
// paynes-gray: #3c707fff,
// air-force-blue: #729199ff,
// moonstone: #73a8b7ff,
// moonstone-2: #619fb1ff,
// paynes-gray-2: #5a7479ff,
// blue-munsell: #418092ff,
// blue-munsell-2: #548e9eff,
// jet: #282826ff,
// blue-munsell-3: #478b9dff

input::placeholder,
textarea::placeholder {
  color: lighten(color(jet), 40%);
}

h1 {
  font-size: 2.5rem;
  // font-weight: 400;
  border-bottom: 2px solid darken(color(moonstone), 9%);
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  // color: color(cadet-gray);
  color: color(paynes-gray);
  // color: color(air-force-blue);
  // color: color(moonstone);
  // color: color(moonstone-2);
  // color: color(paynes-gray-2);
  // color: color(blue-munsell);
  // color: color(blue-munsell-2);
  // color: color(blue-munsell-3);
  // color: color(jet);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  //border-bottom: 2px solid color(moonstone);
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;

  // color: color(cadet-gray);
  // color: color(paynes-gray);
  // color: color(air-force-blue);
  // color: color(moonstone);
  // color: color(moonstone-2);
  // color: color(paynes-gray-2);
  color: lighten(color(blue-munsell), 6%);
  // color: color(blue-munsell-2);
  // color: color(blue-munsell-3);

  // color: hsl(194, 45%, 54%);
  //color: hsl(194, 45%, 49%);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 60px);
    height: 2px;
    background-color: color(moonstone);
  }
}

h3 {
  font-size: 1.75rem;
  margin-top: 1rem;

  // color: color(cadet-gray);
  // color: color(paynes-gray);
  // color: color(air-force-blue);
  // color: color(moonstone);
  // color: color(moonstone-2);
  // color: color(paynes-gray-2);
  // color: lighten(color(blue-munsell), 5%);
  // color: color(blue-munsell-2);
  color: lighten(color(blue-munsell-3), 10%);

  // color: hsl(188, 39%, 47%);
  // color: lighten(color(blue-munsell-3), 6%);
}

a {
  // text-decoration: none;

  // color: color(cadet-gray);
  // color: color(paynes-gray);
  // color: color(air-force-blue);
  // color: color(moonstone);
  // color: color(moonstone-2);
  // color: color(paynes-gray-2);
  // color: lighten(color(blue-munsell), 5%);
  // color: color(blue-munsell-2);
  color: lighten(color(blue-munsell-3), 10%);

  // color: rgb(69, 155, 181);

  &:visited {
    // Changes visited url colour to the inherited colour of the text
    //color: inherit;
  }
}

p {
  color: lighten(color(jet), 60%);
  line-height: 1.6;
  font-size: 1.25rem;
}

pre {
  background-color: color(cadet-gray);
  padding: 1rem;
  border-radius: 5px;
}

// #nav-section {
//   grid-area: nav;
// }
#hero-section {
  grid-area: hero;
}

#about-section {
  grid-area: about;
}

#portfolio-section {
  grid-area: portfolio;
}

#coding-section {
  grid-area: coding;
}

#scs-section {
  grid-area: scs;
}

#contact-section {
  grid-area: contact;
}

#footer-section {
  grid-area: footer;
}

body {
  // &.blur > *:not(#nav-section):not(#nav-section #nav-ham-menu) {
  //   filter: blur(5px);
  // }

  // display: grid;

  // grid-template-areas:
  //   "hero hero"
  //   "about about"
  //   "portfolio portfolio"
  //   "coding coding"
  //   "scs scs"
  //   "contact contact"
  //   "footer footer";

  // background: $gradient-top-darken;
  // background: $gradient-right-darken;
  // background: $gradient-bottom-darken;
  // background: $gradient-left-darken;
  //background: $gradient-top-darken; // good
  // background: $gradient-top-right-darken;
  // background: $gradient-bottom-right-darken;
  // background: $gradient-top-left-darken;
  // background: $gradient-bottom-left-darken;
  // background: $gradient-radial-darken;

  // background-color: color(cadet-gray);
  // background-color: color(paynes-gray);
  // background-color: color(air-force-blue);
  // background-color: color(moonstone);
  // background-color: color(moonstone-2);
  // background-color: color(paynes-gray-2);
  // background-color: color(blue-munsell);
  // background-color: lighten(color(blue-munsell-2), 10%);
  background-color: color(jet);
  // background-color: color(blue-munsell-3);
}

// Finally got sections of the same page to work, but you need to have the html in the right order, had to take out main, nest them in the nav section, and move porfolio to the bottom

// Hide all sections by default
section {
  display: none;
  display: block; // temp for styling

  scroll-margin-top: 1000vh !important; // to prevent going down to the section.
  width: 100vw;
}

// Initially display nav, hero, footer, portfolio, contact sections
#nav-section,
#hero-section,
#footer-section,
#portfolio-section,
#contact-section {
  display: block;
}

// Show about, coding, or scs sections when targeted
#about-section:target,
#coding-section:target,
#scs-section:target {
  display: block;
}

// Hide portfolio and contact when about, coding, or scs are targeted
#about-section:target ~ #portfolio-section,
#about-section:target ~ #contact-section,
#coding-section:target ~ #portfolio-section,
#coding-section:target ~ #contact-section,
#scs-section:target ~ #portfolio-section,
#scs-section:target ~ #contact-section {
  display: none;
}

// Show portfolio and contact when either is targeted
#portfolio-section:target,
#contact-section:target,
#portfolio-section:target ~ #contact-section,
#contact-section:target ~ #portfolio-section {
  display: block;
}

// Ensure other sections are hidden when portfolio or contact is targeted
#portfolio-section:target ~ #about-section,
#portfolio-section:target ~ #coding-section,
#portfolio-section:target ~ #scs-section,
#contact-section:target ~ #about-section,
#contact-section:target ~ #coding-section,
#contact-section:target ~ #scs-section {
  display: none;
}
