nav {
  border-right: 3px solid #5ba1b3;
  //background-color: black;

  p {
    text-align: center;
    font-size: 1.5rem;
    color: #5ba1b3;
    padding: 10px 0;

    &:first-of-type {
      font-size: 3rem;
      color: red;
      border-bottom: 3px solid #5ba1b3;
      padding-bottom: 50px;
    }

    &:last-of-type {
      border-top: 3px solid #5ba1b3;
      border-bottom: 3px solid #5ba1b3;
      // padding: 10px 0;
    }

    // &:hover:not(:first-child) {
    //   border-top: 1px solid #5ba1b3;
    //   border-bottom: 1px solid #5ba1b3;
    // }

    a {
      &:hover {
        border-bottom: 2px solid #5ba1b3;
      }
    }
  }
}

#social-media {
  margin-top: 50px;
}

.icon {
  @include icon-style($element: nav, $modifier: facebook, $icon: facebook, $font-size: 26px, $line-height: 26px, $padding: 12px 22px 16px, $color: #668e9d, $margin: 0 7px 0 0, $hover-color: #3c5998);
  @include icon-style(
    $element: nav,
    $modifier: instagram,
    $icon: instagram,
    $font-size: 26px,
    $line-height: 26px,
    $padding: 12px 22px 16px,
    $color: #668e9d,
    $margin: 0 7px 0 0,
    $hover-color: #0177b5
  );
  @include icon-style($element: nav, $modifier: twitter, $icon: twitter, $font-size: 26px, $line-height: 26px, $padding: 12px 22px 16px, $color: #668e9d, $margin: 0 7px 0 0, $hover-color: #00aced);
  @include icon-style($element: nav, $modifier: linkedin, $icon: linkedin, $font-size: 26px, $line-height: 26px, $padding: 12px 22px 16px, $color: #668e9d, $margin: 0 7px 0 0, $hover-color: #d93175);
}
