// cadet-gray: #939999ff,
// paynes-gray: #3c707fff,
// air-force-blue: #729199ff,
// moonstone: #73a8b7ff,
// moonstone-2: #619fb1ff,
// paynes-gray-2: #5a7479ff,
// blue-munsell: #418092ff,
// blue-munsell-2: #548e9eff,
// jet: #282826ff,
// blue-munsell-3: #478b9dff

// $gradient-top: linear-gradient(0deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-right: linear-gradient(90deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-bottom: linear-gradient(180deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-left: linear-gradient(270deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-top-right: linear-gradient(45deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-bottom-right: linear-gradient(135deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-top-left: linear-gradient(225deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-bottom-left: linear-gradient(315deg, #939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);
// $gradient-radial: radial-gradient(#939999ff, #3c707fff, #729199ff, #73a8b7ff, #619fb1ff, #5a7479ff, #418092ff, #548e9eff, #478b9dff);

// // Lightened gradients
// $gradient-top-lighten: linear-gradient(0deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-right-lighten: linear-gradient(90deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-bottom-lighten: linear-gradient(180deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-left-lighten: linear-gradient(270deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-top-right-lighten: linear-gradient(45deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-bottom-right-lighten: linear-gradient(135deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-top-left-lighten: linear-gradient(225deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-bottom-left-lighten: linear-gradient(315deg, lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));
// $gradient-radial-lighten: radial-gradient(lighten(#939999ff, 10%), lighten(#3c707fff, 10%), lighten(#729199ff, 10%), lighten(#73a8b7ff, 10%), lighten(#619fb1ff, 10%), lighten(#5a7479ff, 10%), lighten(#418092ff, 10%), lighten(#548e9eff, 10%), lighten(#478b9dff, 10%));

// // Darkened gradients
// $gradient-top-darken: linear-gradient(0deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-right-darken: linear-gradient(90deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-bottom-darken: linear-gradient(180deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-left-darken: linear-gradient(270deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-top-right-darken: linear-gradient(45deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-bottom-right-darken: linear-gradient(135deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-top-left-darken: linear-gradient(225deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-bottom-left-darken: linear-gradient(315deg, darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));
// $gradient-radial-darken: radial-gradient(darken(#939999ff, 10%), darken(#3c707fff, 10%), darken(#729199ff, 10%), darken(#73a8b7ff, 10%), darken(#619fb1ff, 10%), darken(#5a7479ff, 10%), darken(#418092ff, 10%), darken(#548e9eff, 10%), darken(#478b9dff, 10%));

// Blur Effect
body.blur section:not(#nav-section) {
  filter: blur(5px);
}
section {
  transition: filter 0.3s ease;
}
// End of blur effect

#nav-section {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  //border-left: 2px solid darken(color(blue-munsell-3), 25%);
  background-color: color(jet);
  width: 250px;

  .social-row {
    border-top: 2px solid darken(color(blue-munsell-3), 25%);
    border-bottom: 2px solid darken(color(blue-munsell-3), 25%);
  }

  // @media (max-height: 550px) {
  //   height: auto;
  //   width: 100%;
  //   border-left: none;
  //   //border-bottom: 2px solid darken(color(blue-munsell-3), 25%);
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   padding: 10px;

  //   a:hover {
  //     border-bottom: none !important;
  //   }

  //   h1:first-of-type {
  //     font-size: 2rem;
  //     padding: 30px !important;
  //     margin-bottom: 10px;
  //     text-align: center;
  //     border-bottom: none !important;

  //     a {
  //       border-bottom: 2px solid darken(color(blue-munsell-3), 25%);
  //     }
  //   }

  //   .nav-container {
  //     //   border-left: 1px solid darken(color(blue-munsell-3), 25%);
  //     //   border-right: 1px solid darken(color(blue-munsell-3), 25%);
  //   }

  //   .nav-row {
  //     display: flex;
  //     justify-content: center;
  //     margin-bottom: 10px;

  //     //   border-left: 2px solid darken(color(blue-munsell-3), 25%);
  //     //   border-right: 2px solid darken(color(blue-munsell-3), 25%);
  //     p {
  //       margin: 0 10px;
  //       // border-left: 2px solid darken(color(blue-munsell-3), 25%);
  //       // border-right: 2px solid darken(color(blue-munsell-3), 25%);
  //       // border-bottom: 1px solid darken(color(blue-munsell-3), 25%);
  //       padding: 10px 10px;

  //       &:last-of-type {
  //         // border: none;
  //       }
  //     }
  //   }

  //   .social-row {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;

  //     border-top: none;
  //     border-bottom: none;
  //     //border-bottom: 2px solid darken(color(blue-munsell-3), 25%);

  //     p {
  //       margin: 0 10px;

  //       &:last-of-type {
  //         border: none;
  //         border-bottom: 1px solid darken(color(blue-munsell-3), 25%);
  //       }
  //     }

  //     #social-media {
  //       margin-top: 0;
  //     }
  //   }
  // }

  h1 {
    &:first-of-type {
      font-size: 3rem;
      color: color(moonstone);
      border-bottom: 2px solid darken(color(blue-munsell-3), 25%);
      padding: 50px 0;
      text-align: center;
      a {
        color: lighten(color(blue-munsell-3), 10%);
        font-size: 3rem;
      }
    }
  }

  p {
    text-align: center;

    color: lighten(color(blue-munsell-3), 12%);
    padding: 10px 0;

    // &:last-of-type {
    //   border-top: 2px solid darken(color(blue-munsell-3), 25%);
    //   border-bottom: 2px solid darken(color(blue-munsell-3), 25%);
    //   // padding: 10px 0;
    // }

    // &:hover:not(:first-child) {
    //   border-top: 1px solid #5ba1b3;
    //   border-bottom: 1px solid #5ba1b3;
    // }

    a {
      font-size: 1.3rem;
      color: lighten(color(blue-munsell-3), 10%);
      &:hover {
        border-bottom: 3px solid color(blue-munsell-2);
      }
    }
  }
}

#nav-ham-menu {
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 1000;
  cursor: pointer;
}

.off-screen-menu {
  top: 0;
  //right: -250px;
  right: -200%;
  transition: 0.3s ease;
  overflow-y: auto;

  // @media (max-height: 550px) {
  //   top: -100%;
  //   right: 0;
  // }
}

.off-screen-menu.active {
  right: 0 !important;

  top: 0 !important;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  z-index: 1001;

  span {
    height: 5px;
    width: 100%;
    background-color: color(blue-munsell-3);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;

    &:nth-child(1) {
      top: 25%;
    }

    &:nth-child(3) {
      top: 75%;
    }
  }

  &.active {
    span {
      background-color: color(blue-munsell-2);

      &:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

#social-media {
  margin-top: 30px;
  text-align: center;
}

.icon {
  @include icon-style(
    $element: nav,
    $modifier: facebook,
    $icon: facebook,
    $font-size: 26px,
    $line-height: 26px,
    $padding: 12px 10px 16px,
    $color: lighten(color(blue-munsell-3), 10%),
    //$margin: 0 7px 0 0,
    $hover-color: lighten(#3c5998, 15%)
  );
  @include icon-style(
    $element: nav,
    $modifier: instagram,
    $icon: instagram,
    $font-size: 26px,
    $line-height: 26px,
    $padding: 12px 10px 16px,
    $color: lighten(color(blue-munsell-3), 10%),
    // $margin: 0 7px 0 0,
    $hover-color: lighten(#0177b5, 15%)
  );
  @include icon-style(
    $element: nav,
    $modifier: twitter,
    $icon: twitter,
    $font-size: 26px,
    $line-height: 26px,
    $padding: 12px 10px 16px,
    $color: lighten(color(blue-munsell-3), 10%),
    //  $margin: 0 7px 0 0,
    $hover-color: lighten(#00aced, 15%)
  );
  @include icon-style(
    $element: nav,
    $modifier: linkedin,
    $icon: linkedin,
    $font-size: 26px,
    $line-height: 26px,
    $padding: 12px 10px 16px,
    $color: lighten(color(blue-munsell-3), 10%),
    // $margin: 0 7px 0 0,
    $hover-color: lighten(#d93175, 15%)
  );
}
