// #hero-text {
//   display: flex;
//   flex-shrink: 1;
//   flex-direction: column;
//   //   justify-content: center;
//   //   align-items: center;
// }

#hero {
  position: relative;

  //   picture {
  //     width: 100%;
  //   }

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    @include mq(xsmall) {
      object-position: 60% 50%;
    }

    // @include mq(small) {
    //   width: 100vw;
    //   height: unset;
    // }
  }

  > div {
    &:first-child {
      position: relative;
    }
    &:last-child {
      position: absolute;
      top: 13%;
      left: 8%;
    }
  }

  h1 {
    text-transform: uppercase;
    color: lighten(color(blue-munsell-3), 30%);
    font-size: 3vw;

    @include mq(xsmall) {
      // font-size: 6.6vw;
      font-size: 2.4rem;
    }
    @include mq(small) {
      //font-size: 5.6vw;
      font-size: 3rem;
    }
    @include mq(medium) {
      // font-size: 4.6vw;
      font-size: 5rem;
    }
    @include mq(large) {
      //font-size: 3.6vw;
      font-size: 5rem;
    }
  }

  p {
    //font-size: 1.5rem;
    text-transform: uppercase;
    // font-size: 1.9vw;
    // margin-top: 500px;

    @include mq(xsmall) {
      //font-size: 4.6vw;
      font-size: 1.4rem;
    }

    @include mq(small) {
      //font-size: 3.6vw;
      font-size: 2rem;
    }

    @include mq(medium) {
      font-size: 3rem;
    }
    @include mq(large) {
      font-size: 3rem;
    }
  }

  .typing-text {
    display: inline-block;
    overflow: hidden;
    border-right: 0.1rem solid;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: blink-caret 0.75s step-end infinite;
  }

  //   cadet-gray: #939999ff,
  //   paynes-gray: #3c707fff,
  //   air-force-blue: #729199ff,
  //   moonstone: #73a8b7ff,
  //   moonstone-2: #619fb1ff,
  //   paynes-gray-2: #5a7479ff,
  //   blue-munsell: #418092ff,
  //   blue-munsell-2: #548e9eff,
  //   jet: #282826ff,
  //   blue-munsell-3: #478b9dff

  #typing-text-1 {
    // color: lighten(color(jet), 65%);
    color: lighten(color(blue-munsell-3), 36%);
  }
  #typing-text-2 {
    // color: lighten(color(jet), 70%);
    color: lighten(color(blue-munsell-3), 33%);
  }
  #typing-text-3 {
    // color: lighten(color(jet), 75%);
    color: lighten(color(blue-munsell-3), 30%);
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: lighten(color(jet), 50%);
    }
  }
}
