#contact-section {
  padding: 20px;
}

.contact-info {
  grid-area: info;
  display: table; // this or display inline-table is the only way to make this start from the top left, otherwise it centers it automatically and even flex doesn't fix it
}

.contact-form {
  display: contents; // to treat the elements as a direct child of the contact-container grid so grid template works correctly
  // caret-color: grey; // changes blinking cursor

  input {
    &:nth-of-type(1) {
      grid-area: form-fname;
    }
    &:nth-of-type(2) {
      grid-area: form-lname;
    }
    &:nth-of-type(3) {
      grid-area: form-email;
    }
    &:nth-of-type(4) {
      grid-area: form-subject;
    }
  }
  textarea {
    grid-area: form-message;
    height: 200px;
  }
  button {
    grid-area: form-submit;
  }

  @include e(text-box) {
    //color: red;
    padding: 5px;
    //background-color: grey;
    border: 1px solid black;
    border-radius: 3px;

    &:focus::placeholder {
      color: transparent;
    }
  }

  @include e(button) {
    background-color: color(blue-munsell);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    display: inline-block;

    &:hover {
      background-color: color(blue-munsell-2);
    }
  }
}

// blue-munsell: #478b9dff,
// paynes-gray: #3c707fff,
// moonstone: #7aaab8ff,
// outer-space: #3c4443ff,
// paynes-gray-2: #557a83ff

.contact-container {
  // padding: 20px;

  @include mq(xsmall) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @include mq(small) {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "info form-fname form-lname"
      "info form-email form-email"
      "info form-subject form-subject"
      "info form-message form-message"
      "info form-submit .";
  }

  //   grid-template-areas:
  //     "info . ."
  //     "form-fname form-lname ."
  //     "form-email form-email ."
  //     "form-subject form-subject ."
  //     "form-message form-message ."
  //     ". form-submit .";
}
